@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.Logo {
    font-family: "Lobster", calibri;
    padding: 5px;
    font-size: 30px;
    display: inline-block;
    padding-right: 30px;
}
nav {
    background-color: rgba(152,251,152, 0.8);
    padding: 1px;
    margin: 0px;
}
body {
    margin: 0px;
}
.Products {
    display: inline-block;
    padding-right: 30px;
}

a > nav {
    border-radius: 10px;
    background-color: blue;
}